name: fire
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - pip
  - numpy
  - pandas
  - geopandas
  - shapely
  - pyproj
  - pyogrio
  - ipykernel

  - pip:
      - earthengine-api
      - meteostat
      - pydrive2
